
@mixin bgImage($url, $color) {
    background-image: linear-gradient(transparentize($color, .3%) 0%, $color 100%), url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}